{% extends 'portfoliohut/base.html' %}
{% block head %}
    <title>Hello World!</title>
{% endblock head %}

{% block content %}
<div class="container vertical-center">
    <div class="row mx-auto">
        <h1 id="id_page_name">Login</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
              {{ login_form }}
            </table>
            <button type="submit" class="btn btn-primary" id="id_login_button">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}