{% extends 'portfoliohut/base.html' %}
{% block head %}
  <title>Profile</title>
{% endblock head %}
{% load render_table from django_tables2 %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

{% block content %}
  <div class="container">

    <!-- Page Title -->
    <div class="row mt-4 mb-2">
      <h1 class="text-center">Portfolio</h1>
      <h2 class="text-center">{{ profile.user.username }}</h2>
    </div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var returns_temp = {{ graph_returns |safe }};
            var dates_temp = {{graph_dates|safe}};
            var dataPoints = [];
            var stockChart = new CanvasJS.StockChart("stockChartContainer", {
                exportEnabled: true,
                title: {
                    text: "Portfolio Returns"
                },
                subtitles: [{
                    text: ""
                }],
                charts: [{
                    axisX: {
                        crosshair: {
                            enabled: true,
                            snapToDataPoint: true,
                            valueFormatString: "MMM YYYY"
                        }
                    },
                    axisY: {
                        title: "Return percentage",
                        prefix: "",
                        suffix: "%",
                        crosshair: {
                            enabled: true,
                            snapToDataPoint: true,
                            valueFormatString: "%##.##",
                        }
                    },
                    data: [{
                        type: "line",
                        xValueFormatString: "MMM YYYY",
                        yValueFormatString: "%##.##",
                        dataPoints: dataPoints
                    }]
                }],

            });

            for (let i = 0; i < returns_temp.length; i++) {
                dataPoints.push({x: new Date(dates_temp[i]), y: Number(returns_temp[i]) / 100});
            }
            stockChart.render();
        }

    </script>

    <div id="stockChartContainer" style="height: 400px; width: 100%;"></div>
  </div>
  </div><br>

    <!-- Add/Delete Transaction -->
    <a href="{% url 'add-transaction'%}" class="m-2 d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Add Transaction</button>
    </a>

  <!-- TODO: Add Table of transactions -- staticfiles
  TODO: Add portfolio Table  -->
  <br>
  <div name="Profile Table" style="margin:auto; margin-top:2.5em">
    <h4 style="margin:center; text-align:center;">Current Portfolio Summary</h4>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Ticker</th>
        <th scope="col">Current Price</th>
        <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      {% for entry in profile_table %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ entry.0 }}</td>
          <td>{{ entry.1 }}</td>
          <td>{{ entry.2 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <h5>Total Portfolio Value(USD): {{ total }}</h5>

    <br>
    <h5>Total Cash Balance is: {{ cash }}</h5>
    <br>
    <br>
    <h4 style="text-align:center">Transaction History</h4>
    <div name="transactions table" style="margin-top:.75em">
    </div>
    {% render_table table %}

  </div>


{% endblock content %}
