{% extends 'portfoliohut/base.html' %}
{% block head %}
  <title>Profile</title>
{% endblock head %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="container">

    <!-- Page Title -->
    <h1 class="text-center mt-4">Portfolio</h1>

    <!-- Graph -->
    <div class="row justify-content-center mt-2">
      {% if graph %}
        {{ graph|safe }}
      {% endif %}
    </div>

    <h4 class="text-center mt-2 mb-2">Current Portfolio Summary</h4>
    {% render_table current_portfolio_table %}

    {#    <!-- Summary Statistics -->#}
    {#    <h5>Portfolio Value: {{ total }}</h5>#}
    {#    <h5>Current Cash Balance: {{ cash }}</h5>#}
    {#    <br>#}
    {#    <br>#}

  </div>


{% endblock content %}
