{% extends 'portfoliohut/base.html' %}
{% block head %}
    <title>Profile</title>
{% endblock head %}

{% block content %}
  <div class="container">

    <!-- Page Title -->
    <div class="row mt-4 mb-2">
      <h1 class="text-center">Profile</h1>
      <h2 class="text-center">{{ profile.user.username }}</h2>
    </div>

    <!-- Formatting -->
    <div class="row m-3 d-flex justify-content-center">
      <div class="col-md-6">

        <!-- Social Info -->
        {% if profile.id != request.user.id %}
          <div align="center">
            {% if profile in request.user.friends.all %}
              <button type="submit" class="btn btn-primary">Unfriend</button>
            {% else %}
              <button type="submit" class="btn btn-primary">Friend</button>
            {% endif %}
          </div><br/>
        {% endif %}

        <!-- Display Bio and % Returns Public/Private Selector -->
        <h3>Bio</h3>
        {% if profile.id == request.user.id %}
          <form enctype="multipart/form-data" action="{% url 'update-profile' %}" method="post">
              {{ profile_form }}
{#            {% for field in profile_form.visible_fields %}#}
{#              <div class="row">{{ field }}</div><br/>#}
{#              <div class="error">#}
{#                {% for error in field.errors %} {{ error }} {% endfor %}#}
{#              </div>#}
{#            {% endfor %}#}
{#            <button type="submit" class="btn btn-primary">Submit</button>#}
            {% csrf_token %}
          </form><br/>
        {% else %}

        <div class="row m-3">
          <textarea readonly>{{ profile.bio }}</textarea>
        </div>
        {% endif %}

        <!-- Display % Returns (if Public) -->
        {% if profile_form.profile_type.value == 'public' or profile.user == request.user or profile in request.user.friends.all %}
          <br/><h3>Returns</h3>
            <div class="row m-3" align="center">
              <textarea readonly>{{ profile.get_most_recent_return|floatformat:-2 }}%</textarea>
            </div><br/>
        {% endif %}

        <!-- Top 5 Stocks -->
        <br/><h3>Top Investments</h3>
          <table class="row m-3">
            <tr>
              <td><img src="https://logo.clearbit.com/netflix.com?size=100"></td>
              <td><img src="https://logo.clearbit.com/homedepot.com?size=100"></td>
              <td><img src="https://logo.clearbit.com/dickssportinggoods.com?size=100"></td>
              <td><img src="https://logo.clearbit.com/google.com?size=100"></td>
              <td><img src="https://logo.clearbit.com/tesla.com?size=100"></td>
            </tr>
          </table>

        {% if profile.id == request.user.id %}
          <!-- Pending Friend Requests -->
          {% if profile.friend_requests.all %}
            <div class="row m-3">
              <ul>
                <span>Pending Friend Requests</span>
                  <ul>
                    {% for friend in profile.friend_requests.all %}
                      <li><a href="{% url 'profile' friend_request.id %}" class="friend">{{ friend_request.username }}</a></li>
                      <button class="btn btn-primary">Accept</button>
                      <button class="btn btn-primary">Decline</button>
                    {% endfor %}
                  </ul>
              </ul>
            </div>
          {% endif %}

          <!-- Friends -->
          <br/><h3>Friends</h3>
          <div class="row m-3">
            <ul>
              <span>Friends</span>
              <ul>
                {% for friend in profile.friends.all %}
                  <li><a href="{% url 'profile' friend.id %}" class="friend">
                    {{ friend.username }}
                  </a></li>
                {% endfor %}
                {% if not profile.friend.all %}
                  <li>No friends yet</li>
                {% endif %}
              </ul>
            </ul>
          </div>

        {% endif %}

  <!-- Container -->
  </div>
</div>
  </div>
{% endblock content %}
