{% extends 'portfoliohut/base.html' %}
{% load bootstrap4 %}
{% block head %}
  <title>Register</title>
{% endblock head %}

{% block content %}
  <h1 id="id_page_name" class="text-center">Register</h1>
  <div class="d-flex justify-content-center align-items-center container ">
    <div class="row">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% bootstrap_form register_form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary" id="id_login_button">Submit</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock content %}
