{% extends 'portfoliohut/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "portfoliohut/css/remove-asterisk.css" %}">
  <title>Stream</title>
{% endblock head %}

{% block content %}
  <div class="container">
    <div class="row mt-5">
      <h1 class="text-center" id="id_page_name">{{ page_name }}</h1>
    </div>

    {% for profile in profiles %}
      <div class="row mb-3">
        <a href="{% url 'profile-page' profile.user.id %}">
          <span>{{ profile.user.username }}</span>
        </a>
      </div><br/>
    {% endfor %}

</div>
{% endblock content %}
