{% extends 'portfoliohut/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'portfoliohut/css/remove-asterisk.css' %}">
  <title>{{ page_name }}</title>
{% endblock head %}
{% load render_table from django_tables2 %}

{% block content %}
  <!-- Page Title -->
  <div class="row">
    <h1 class="text-center" id="id_page_name">{{ page_name }}</h1>
  </div>
  <!-- Friend's Comp Redirection -->
  {% if profiles is None and page_name == "Friends Competition" %}
    <div class="row mt-5">
      <h3 class="text-center">Make some friends! You can find some amazing traders
        <a href="{% url 'global-competition' %}">here</a>.
      </h3>
    </div>
  {% endif %}
  <!-- Graph -->
  {% if graph %}
    {{ graph|safe }}
  {% endif %}
  <!-- Competition Table -->
  {% if competition_table %}
    {% render_table competition_table %}
  {% endif %}
  </div>
{% endblock content %}
